### USER DEFINED FUNCTIONS

In [1]:
#FUNCTION WITHOUT KEYWORD
def msg():
    print("hello python")

msg()

hello python

In [7]:
#FUCTIONS WITH RETURN KEYWORD
def sum(x,y):
    result=x+y
    return result
sum(100,40)

140

In [9]:
#LAMBDA FUNCTION:anonymous function,no specific name,single line execution
sum=lambda a,b:a+b
print(sum)
sum(112,334)

<function <lambda> at 0x00000282355DEFC0>

446

In [10]:
mul=lambda x,y:x*y
print(mul)
mul(20,4)

<function <lambda> at 0x00000282355DF880>

80

### Scope,global,local

In [11]:
#global scope
x=10
def display():
    print(x)
display()
print(x)

10
10

In [21]:
#local scope
def myfun1():
     y=30
     print(y)
         
myfun1()

print(y)

30

NameError: name 'y' is not defined

In [26]:
# modify local to global
def modifying():
      global x
      x=90
      
modifying()
print(x)

90

### Arguments in python

In [ ]:
#POSITIONAL ARGUMENTS
#THESE ARE MOST COMMON TYPE OF ARGUMENTS AND ARE PASSED IN SPECIFIC ORDER

In [ ]:
def sample(x,y)

In [29]:
#KEYWORD ARGUMENTS 
#EXAMPLE
def greet(name,message):
       print(f'{name},{message}')

greet(name='Monal',message='GoodMorning')

Monal,GoodMorning

In [ ]:
#DEFAULT ARGUMENTS
#THESE ARGUMENTS TAKES A DEFAULT VALUE IF NO VALUE IS PASSED
# DEFAULT ARGUMENTS MUST FOLLOW NON KEYWORD ARGUMENTS IN THE FUNCTION

In [30]:
#EXAMPLE
def greet(name,message='GOOD MORNING'):
       print(f'HELLO,{name},{message}')

greet("john")

HELLO,john,GOOD MORNING

In [ ]:
#VARIABLE LENGTH ARGUMENTS
#THESE ARE

In [33]:
def greet(*names):
    for name in names:
        print(f'Welcome to INDIA, {name}!')
greet('Sneha','Abhilash','Samvidh','Anurag','Ramya')

Welcome to INDIA, Sneha!
Welcome to INDIA, Abhilash!
Welcome to INDIA, Samvidh!
Welcome to INDIA, Anurag!
Welcome to INDIA, Ramya!

In [45]:
class Book:
    def __init__(self, title, author, copies=0):
        self.title = title
        self.author = author
        self.copies = copies

    def display_details(self):
        print(f"Title: {self.title}, Author: {self.author}, Copies: {self.copies}")

    def add_copies(self, num_copies):
        self.copies += num_copies
        print(f"{num_copies} copies added. Total copies now: {self.copies}")

    def borrow_book(self):
        if self.copies > 0:
            self.copies -= 1
            print(f"Book borrowed. Copies remaining: {self.copies}")
        else:
            print("Out of stock.")
            

book1 = Book("Python Programming", "John Doe", 5)
book2 = Book("Data Science Basics", "Jane Smith", 2)


book1.display_details()
book2.display_details()

book1.add_copies(3)

book2.borrow_book()
book2.borrow_book()
book2.borrow_book()  

book1.display_details()
book2.display_details()

Title: Python Programming, Author: John Doe, Copies: 5
Title: Data Science Basics, Author: Jane Smith, Copies: 2
3 copies added. Total copies now: 8
Book borrowed. Copies remaining: 1
Book borrowed. Copies remaining: 0
Out of stock.
Title: Python Programming, Author: John Doe, Copies: 8
Title: Data Science Basics, Author: Jane Smith, Copies: 0

In [49]:
class car:
    def __init__(model,colour,stock=10,type):
        model.colour=colour
        model.stock= stock
        model.type=type
    def colour_car(model):
        print(f'colour:{model.colour}')
        
    def stock_car(model,stock,purchase):
        if model.stock>2:
          model.stock=model.stock-purchase
          print(f'no of cars remaining after purchase:{model.stock}')

    def type_car(model,type,self,auto):
         if model.type== self:
            print(f'car is manual')
         if model.type== auto:
            print(f'car is Automatic')

Mahindra=car('red','6','Automatic')
Tata=car('blue','10','Automatic')
Swift=car('white','5','manual')



Mahindra.type_car()

SyntaxError: parameter without a default follows parameter with a default (750283090.py, line 2)

In [30]:
class person:
    def __init__(self,name,age,gender,salary,ADHAAR):
        self.name=name
        self.age=age
        self.gender=gender
        self.__salary=salary
        self.__ADHAAR=ADHAAR
        
    def Occupation(self):
        if self.gender=='male':
            return 'HardwareEngineer'
        elif self.gender=='female':
            return 'SoftwareEngineer'
        else:
             return 'Executive'
    # Getter for salary
    def get_salary(self):
        return self.__salary

    # Getter for ADHAAR
    def get_ADHAAR(self):
        return self.__ADHAAR


    def __str__(self):
            return f"Name: {self.name}, Age: {self.age}, Gender: {self.gender}, Role: {self.Occupation()},salary:{self.__salary},ADHAAR:{self.__ADHAAR}"

p1=person('RAKSHI',24,'FEMALE','',80000,56241291928)
p1.Occupation()
print(p1)
print("Salary:", p1.get_salary())
print("ADHAAR:", p1.get_ADHAAR())
class Insurance(person):
        def __init__(self,name,age,gender,occupation,salary,ADHAAR,medical_exam,proof):
            super().__init__(name,age,gender,occupation,salary,ADHAAR)
            self.medical_exam=medical_exam
            self.proof=proof

        def check(self):
            if self.medical_exam=='Pass' and self.proof=='verified':
                return 'Eligible'
            else:   
                 return 'NotEligible'       

p2 = Insurance('Sarayu', 34, 'female', '', 78999, 8473579284, 'Pass', 'Verified')
print("\nInsurance Check for Sarayu:", p2.check())
print(p2)

Name: RAKSHI, Age: 24, Gender: FEMALE, Role: Executive,salary:80000,ADHAAR:56241291928
Salary: 80000
ADHAAR: 56241291928

Insurance Check for Sarayu: NotEligible
Name: Sarayu, Age: 34, Gender: female, Role: Executive,salary:78999,ADHAAR:8473579284

In [35]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [36]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [38]:
import datetime
x=datetime.datetime(2025,11,3)
print(x)

2025-11-03 00:00:00

In [51]:
x=datetime.datetime.now()
print(x.year)
print(x.strftime('%a'))
print(x.strftime('%A'))
print(x.strftime('%b'))
print(x.strftime('%B'))
print(x.strftime('%y'))
print(x.strftime('%Y'))
print(x.strftime('%H'))
print(x.strftime('%I'))
print(x.strftime('%p'))

2025
Wed
Wednesday
May
May
25
2025
15
03
PM

In [ ]:
x=datetime.datetime(2025,11,3)
print(x)